<% provide(:title, "About") %>
<div class="content-center-box">
  <div class="content-title">
    <h1>&Uuml;ber</h1>
  </div>
  <div class="content-element">
    <p class="center">
      Das <big>SubwayTube System</big> dient dazu, Lifebilder aus der
      U-Bahn für die Leitwarte bereitzustellen.
    </p>
    <label>Funktionen:</label>
    <ul>
      <li>
        &Uuml;bersicht &uuml;ber alle U-Bahnen mit Netzwerk und deren
        Erreichbarkeit.
      </li>
      <li>
        Einfacher und schneller Zugriff auf Lifebilder aus jedem Wagon, um in
        Gefahrensituationen besser reagieren zu k&ouml;nnen.
      </li>
      <li>
        M&ouml;glichkeit zur&uuml;ckliegende Bilder zu betrachten.
      </li>
    </ul>
    <p>Dieses Programm ist im Rahmen einer Bachelorarbeit an der Hochschule
        f&uuml;r angewandte Wissenschaften M&uuml;nchen entstanden.
    </p>
    <p><big>Autor: </big>Sebastian Paintner</p>
  </div>
</div>
