<%##############################################################################
# view for static pages                                                        #
# apout page                                                                   #
#                                                                              #
# author: Sebastian Paintner                                                   #
#                                                                              #
# path: app/views/static_pages/about.html.erb                                  #
##############################################################################%>
<% provide(:title, "Über") %>
<div class="content_center_box">
  <div class="title_row">
    <h1>&Uuml;ber</h1>
  </div>
  <div class="row">
    <div class="column">
      <p>
        Das <big>SubwayTube System</big> dient dazu, Lifebilder aus der U-Bahn
        für die Leitwarte bereitzustellen.
      </p>

      <h3>Funktionen:</h3>
      <p>
        &Uuml;bersicht &uuml;ber alle U-Bahnen mit Netzwerk und deren
        Erreichbarkeit. <br><br> Einfacher und schneller Zugriff auf Lifebilder
        aus jedem Wagon, um in M&ouml;glichkeit zur&uuml;ckliegende Bilder zu
        betrachten. <br><br> Dieses Programm ist im Rahmen einer Bachelorarbeit
        an der Hochschule f&uuml;r angewandte Wissenschaften M&uuml;nchen
        entstanden.
      </p>
      <h3>Autor:</h3>
      <p>
        Sebastian Paintner
      </p>
    </div>
  </div>
</div>
