<% provide(:title, "Help") %>
<div class="content-center-box">
  <div class="content-title">
    <h1>Subway Monitoring System Hilfe</h1>
  </div>
  <div class="content-element">
    <p>
      Hilfe
    </p>
  </div>
</div>
