<%##############################################################################
# view for sessions                                                            #
# login page                                                                   #
#                                                                              #
# author: Sebastian Paintner                                                   #
#                                                                              #
# path: app/views/sessions/show.html.erb                                       #
##############################################################################%>
<% provide(:title, "Login") %>
<div class="row center full">
  <div id="login" class="form_wrapper">
    <h1>SubwayTube Login</h1>
    <%= render "form" %>
  </div>
</div>
