<%##############################################################################
# view for trains                                                              #
# new train page                                                               #
#                                                                              #
# author: Sebastian Paintner                                                   #
#                                                                              #
# path: app/views/trains/new.html.erb                                          #
##############################################################################%>
<% provide(:title, "Neuer Zug") %>
<div class="row center full">
  <div id="new_train" class="form_wrapper">
    <h1>Neuer Zug</h1>
    <%= render "form" %>
  </div>
</div>
