<%##############################################################################
# view for traintypes                                                          #
#  edit page                                                                   #
#                                                                              #
# author: Sebastian Paintner                                                   #
#                                                                              #
# path: app/views/traintypes/edit.html.erb                                     #
##############################################################################%>
<% provide(:title, @traintype.name) %>
<div class="row center">
  <div id="edit_traintype" class="form_wrapper">
    <h1>Zugtyp bearbeiten</h1>
    <%= render "form" %>
  </div>
</div
