<%##############################################################################
# view for traintypes                                                          #
# new traintype page                                                           #
#                                                                              #
# author: Sebastian Paintner                                                   #
#                                                                              #
# path: app/views/traintypes/new.html.erb                                      #
##############################################################################%>
<% provide(:title, "Neuer Zugtyp") %>
<div class="row center">
  <div id="new_traintype" class="form_wrapper">
    <h1>Neuer Zugtyp</h1>
    <%= render "form" %>
  </div>
</div
