<% provide(:title, @traintype.name) %>
<div class="content_center_box">
  <div class="title_row">
    <h1>Zugart: <%= @traintype.name %></h1>
  </div>
  <div class="row">
    <table>
      <thead><th colspan="4">Name</th></thead>
      <tbody><%= render @traintype %></tbody>
    </table>
    <%= link_to 'Zurück', traintypes_path, class: "btn_grey" %>
    <%= link_to 'Neuer Zugtyp', new_traintype_path, class: "btn_green" %>
  </div>
</div>
