<%##############################################################################
# view for users                                                               #
# new user page                                                                #
#                                                                              #
# author: Sebastian Paintner                                                   #
#                                                                              #
# path: app/views/users/new.html.erb                                           #
##############################################################################%>
<% provide(:title, "Neuer Nutzer") %>
<div class="row center">
  <div id="new_user" class="form_wrapper">
    <h1>Neuer Nutzer</h1>
    <%= render "form" %>
  </div>
</div>
