<div id="overlay">
  <div id="overlay_click"></div>
  <div id="modal">
    <section id="modal_header">
      <h3><%= modal_title %></h3>
      <button id="modal_dismiss">x</button>
    </section>

    <section id="modal_body">
      <%= render body %>
    </section>
  </div>
</div>
