<% provide(:title, @title) %>
<div class="content_center_box">
  <div class="title_row">
    <h1><%= @title %> Log</h1>
  </div>
  <div class="row">
    <p class="log_p"><%= @file %></p>
  </div>
</div>
