/*******************************************************************************
* button style                                                                 *
*                                                                              *
* author: Sebastian Paintner                                                   *
*                                                                              *
* path: app/assets/stylesheets/partials/_button.scss                           *
*******************************************************************************/
button, .btn_green, .btn_red, .btn_grey {
  background-color: $btn_background;
  padding: 4px;
  margin: 2px;
  border-radius: 3px;
  text-align: center;
  // border: 1px solid $border;
  border: none;
  font: inherit;
  color: $color;
  cursor: pointer;
}

table {
  button, .btn_green, .btn_red, .btn_grey {
    background-color: transparent;
    border: none;
    padding: 2px;
  }
}

.btn_green:hover {
  background-color: $green;
  color: $light_grey;
}

.btn_red:hover {
  background-color: $red;
  color: $light_grey;
}

.btn_grey:hover {
  background-color: $dark_grey;
  color: $light_grey;
}
