/*******************************************************************************
* form style                                                                   *
*                                                                              *
* author: Sebastian Paintner                                                   *
*                                                                              *
* path: app/assets/stylesheets/partials/_form.scss                             *
*******************************************************************************/
.form_wrapper {
  @include flex(0 1 400px);
  border-radius: 3px;
  h1 {
    margin: 0px;
    background-color: $form_element_background;
    @include border_padding(3px 3px 0px 0px, 4px);
    text-align: center;
    border-bottom: 2px solid $border;
  }
}

form {
  @include display_flex(column);
  background-color: $form_background;
  @include border_padding(0px 0px 3px 3px, 4px 10px);
  .row {
    justify-content: space-between;
  }
  .form_footer {
    @include display_flex(row);
    @include align(center, center, center);
  }
  input, select, textarea {
    background-color: $form_element_background;
    margin-bottom: 5px;
  }
  label {
    font-weight: 800;
    margin-top: 5px;
  }
  .field_with_errors{
    input, select, textarea {
      width: 100%;
      background-color: $error_background;
    }
  }
}
