/*******************************************************************************
* header style                                                                 *
*                                                                              *
* author: Sebastian Paintner                                                   *
*                                                                              *
* path: app/assets/stylesheets/partials/_header.scss                           *
*******************************************************************************/
header {
  width: 100%;
  min-height: 30px;
  position: fixed;
  @include display_flex(row);
  @include align(space-between, center, center);
  top: 0px;
  left: 0px;
  padding: 0px 8px;
  background-color: $header_background;
  color: $header_color;
  z-index: 100;
  border-bottom: 2px solid $border;
  section {
    @include display_flex(row);
    > * {
      margin: 0px 4px;
      padding: 4px;
      border-radius: 3px;
    }
  }
  .hover_section > *:hover {
    background-color: $header_hover_background;
  }
}

.header_logo {
  font-size: 16px;
  font-weight: 800;
}

.header_dropdown {
  position: relative;
  ul {
    position: absolute;
    top: 100%;
    right: 0px;
    padding: 4px;
    border-radius: 3px;
    display: none;
    border: 1px solid $dropdown_border;
    background-color: $dropdwon_background;
  }
  li {
    padding: 1px 8px;
    margin: 4px 0px;
    border-radius: 3px;
    color: $dropdwon_color;
    // box-shadow: 0px 0px 7px rgba(255, 255, 255, 1)
  }
}
