/*******************************************************************************
* mixings                                                                      *
*                                                                              *
* author: Sebastian Paintner                                                   *
*                                                                              *
* path: app/assets/stylesheets/mixings.scss                                    *
*******************************************************************************/
@mixin display_flex($direction) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $direction wrap;
  -webkit-flex-flow: $direction wrap;
}

@mixin flex($var) {
  flex: $var;
  -webkit-flex: $var;
}

@mixin align($justify, $align, $items) {
  justify-content: $justify;
  align-content: $align;
  align-items: $items;
}

@mixin full{
  height: 100%;
  width: 100%;
}

@mixin zero_space {
  margin: 0px;
  padding: 0px;
}

@mixin border_padding($border, $padding) {
  border-radius: $border;
  padding: $padding;
}
