@mixin display_flex($direction) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $direction wrap;
  -webkit-flex-flow: $direction wrap;
}

@mixin flex($var) {
  flex: $var;
  -webkit-flex: $var;
}

@mixin align($justify, $align, $items) {
  justify-content: $justify;
  align-content: $align;
  align-items: $items;
}

@mixin full{
  height: 100%;
  width: 100%;
}

@mixin zero_space {
  margin: 0px;
  padding: 0px;
}

@mixin border_padding($border, $padding) {
  border-radius: $border;
  padding: $padding;
}



// dsfasdfasdfasdfsdafds
@mixin full-border($color, $radius) {
  border: 1px solid $color;
  border-radius: $radius;
}

@mixin basic-btn($color, $color-hover) {
  border-radius: 4px;
  padding: 4px;
  display: inline-block;
  width: auto;
  background-color: $color;
  cursor: pointer;
  border:none;
  font-size: 14px;
  &:hover {
    background-color: $color-hover;
  }
}

@mixin btn ($color, $color-hover) {
  color: #fff;
  box-shadow: $element-shadow;
  margin: 5px 0px;
  @include basic-btn($color, $color-hover);
}

@mixin btn-hover ($color-text, $color-hover) {
  color: $color-text;
  @include basic-btn(transparent, $color-hover);
  &:hover {
    color: #fff;
  }
}
