// Colors:
$light_green: #e3ece6;
$green: #a3c1ad;
// $light_green: #e0f5ee;
// $green: #404040;
// $dark_green: #0a1411;

$lila: #ada3c1;

$light_grey: #e2e2e2;
$grey: #c6c6c6;
$semi_dark_grey: #777777;
$dark_grey: #474747;

$white: #fff;

// Header:
$header_background: $grey;
$header_color: $dark_grey;
$header_hover_background: $light_grey;

// Page:
$page_background: $white;

$content_background: $light_grey;

// Modal:
$modal_background: $light_grey;
$modal_header_background: $grey;
$modal_header_color: $light_green;
$modal_color: $dark_grey;

// Sidebar:
$sidebar_background: $dark_grey;
$sidebar_border_color: $semi_dark_grey;
$sidebar_text_color: $light_grey;
$sidebar_hover_background: $semi_dark_grey;
$sidebar_hover_color: $dark_grey;

// Form:
$form_background_1: $light_grey;
$form_background_2: $grey;

// Text:
$text_color: $dark_grey;

// Dropdown:
$dropdwon_background: $semi_dark_grey;
$dropdwon_color: $light_grey;

$btn_background: $grey;









// $text-color : #666;
$background-color: #F6EDE4;

$red: #f19588;
$red-hover: #eb604c;


$green: #8ab2aa;
$green-hover: #589186;

$light-grey: #eee;
// $grey: #ccc;
$grey-hover: #aaa;

$element-background: rgba(255, 255, 255, 0.4);
$element-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
