/*******************************************************************************
* variables for the page theme                                                 *
*                                                                              *
* author: Sebastian Paintner                                                   *
*                                                                              *
* path: app/assets/stylesheets/vars.scss                                       *
*******************************************************************************/

/* Green */
$lightest_green: #e3ece6;
$light_green: #e0f5ee;
$green: #a3c1ad;

/* Red */
$light_red: #f6bfb7;
$red: #f19588;
$dark_red: #eb604c;

/* Grey */
$lightest_grey: #eee;
$light_grey: #e2e2e2;
$grey: #c6c6c6;
$dark_grey: #777777;
$darkest_grey: #474747;

/* Lila */
$lila: #ada3c1;

/* Turquoise */
$turquoise: #8ab2aa;
$dark_turquoise: #589186;


/** General **/

$background: $lightest_grey;
$color: $dark_grey;
$border: $dark_grey;
$second_background: $grey;

/** Categories **/

/* Header */
$header_background: $background;
$header_color: $color;
$header_hover_background: $second_background;
$header_border: $border;

/* Page */
$page_background: #fff;
$content_background: $background;

/* Modal */
$modal_background: $background;
$modal_header_background: $grey;
$modal_header_color: $color;
$modal_color: $color;

/* Form */
$form_background: $background;
$form_element_background: $second_background;
$error: $red;
$error_background: $light_red;

/* Text */
$text_color: $color;

/* Dropdown */
$dropdwon_background: $background;
$dropdwon_color: $color;
$dropdown_border: $border;

/* Buttons */
$btn_background: $second_background;
